/* =============================== */
/* ======== $VARIABLES    ======== */
/* =============================== */

$primario: #FD674A;
$segundario: #131313;

$texto-a: #575D64;

$txt-a: #C6CCD2;
$txt-b: #9BA3AD;
$txt-c: #71767C;

$color-fon-a: #14191A;
$color-fon-b: #121519;
$color-fon-c: #9BA3AD;
$color-fon-d: #1E2428;

$muli: 'Muli',
sans-serif;
;
$rale: 'Raleway',
sans-serif;
;